/* These are key words that are now assigned characteristics.
._ : select elements under the specified class


*/

h1 {
	display: flex;
	justify-content: center;
}

.box {
	height: 100px;
	width: 100px;
	margin-bottom: 50px;
	border: 10px solid black;
}

/*
.activeBox {
	height: 100px;
	width
}
*/

.red {
	background-color: white;
}

.green {
	background-color: white;
}

.blue {
	background-color: white;
}

.container {
	display: flex;  /* Forces children to align horizontally */
	gap: 15px;  /* Gap between square divs */
	height: 20vh;  /* vh = % of viewport height this div occupies. 100vh is the full visible browser area */
}

.parent-container {
	height: 80vh;
	display: flex;
	flex-direction: column;  /* Flex direction (alignment) is vertical */
	justify-content: center;  /* aligns children in center HORIZONTALLY */
	align-items: center;  /* aligns children in center VERTICALLY */
}
